
@{
    ViewData["Title"] = "Home Page";
    UserCache show = (UserCache)ViewData["Message"];
}



<div class="text-center">
    <h1 class="display-4">Welcome @show.CacheFirstName @show.CacheLastName</h1>
</div>
