
@{
    ViewData["Title"] = "Home Page";
    UserSession show = (UserSession)ViewData["Message"];
}



<div class="text-center">
    <h1 class="display-4">Welcome @show.FirstName @show.LastName</h1>
</div>
