@model UserValidationLogin;
@using cs3750LMS.Models.validation; 
@{
    ViewData["Title"] = "Login";
    Errors failed;
    if (ViewData["LogErr"] != null)
    {
        failed = (Errors)ViewData["LogErr"];
    }
    else
    {
        failed = new Errors();
        failed.LoginError = "";
    }
}


<div>
    <h1 class="display-4 text-center mt-3">@ViewData["Title"]</h1>
    <div>
        <p class="text-center">@failed.LoginError</p>
    </div>
    @section Scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
    <form asp-action="Login" method="post" class="w-75 mx-auto mt-5">
        <div asp-validation-summary="ModelOnly"></div> <!--ModelOnly mode allows errors to be show per input box-->

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Email" class="control-label mb-0">Email</label>
            </div>
            <div class="col-sm-10">
                <input type="email" asp-for="Email" class="form-control" required />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Password" class="control-labe mb-0l">Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" asp-for="Password" name="Password" class="form-control" required />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>


        <div class="form-group text-center">
            <input type="submit" value="Login" class="btn btn-primary mx-2" />
            <a asp-action="SignUp" class="btn btn-warning">Sign Up</a>
        </div>

    </form>
</div>
