@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form asp-action="SignUp" method="post">
        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <input type="email" for="Email" name="Email" class="form-control" required />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Fname" class="control-label">First Name</label>
            <input type="text" for="Fname" name="Fname" class="form-control" required />
            <span  class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Lname" class="control-label">Last Name</label>
            <input type="text" for="Lname" name="Lname" class="form-control" required />
            <span  class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Birthday" class="control-label">Birthday</label>
            <input type="date" for="Birthday" name="Birthday" class="form-control" required />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" for="password" name="Password" class="form-control" required />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="passwordConfirm" class="control-label">Password</label>
            <input type="password" for="passwordConfirm" name="check" class="form-control" required />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="radio" for="AccountType1" name="AccountType" value="0" checked />
            <label for="AccountType1">Student</label>
            <input type="radio" for="AccountType2" name="AccountType" value="1" />
            <label for="AccountType2">Instructor</label>
            <span  class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Sign Up" class="btn-primary" />
        </div>

    </form>
    <a asp-action="SignUp">New User</a>
</div>
