@{
    UserSession show = (UserSession)ViewData["Message"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cs3750LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Added Code Here-->
    <script src="https://kit.fontawesome.com/96bd72d7d0.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BinaryEntanglersLMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (show == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                            </li>
                        }
                        @if (show != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Public" asp-action="Profile">Profile</a>
                            </li>
                        }
                        @if (show != null && show.AccountType == 1) //Instructor
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Instructor" asp-action="AddClass">Add Class</a>
                            </li>
                        }
                        @if (show != null && show.AccountType == 0)  //Student
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Register">Register</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Payment">Payment</a>
                            </li>
                        }
                        @if (show != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Public" asp-action="Calendar">Calendar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a>
                            </li>

                            <li class="nav-item">
                                <div class="dropright">
                                    @*TODO: Make it so if a notification item is available bell icon color gets changed to Orange. Javas script is set up
                                        just when you use a for loop to create each of the items use the count in the javascript. 
                                        *@
                                    <a class="nav-link" data-toggle="dropdown"> <i id="bellIcon" class="far fa-bell fa-lg"></i></a>

                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="#">Link 1</a><i class="far fa-window-close fa-sm float-right"></i></li>
                                        <li class="dropdown-item"><a href="#">Link 2</a><i class="far fa-window-close fa-sm float-right"></i></li>
                                        <li class="dropdown-item"><a href="#" id="test1">Link 3</a><i class="far fa-window-close fa-sm float-right" onclick="removeNotificationItem()"></i></li>
                                        <li class="dropdown-item"><a href="#" id="test1">Link 4</a><i class="far fa-window-close fa-sm float-right" onclick="removeNotificationItem()"></i></li>
                                        <li class="dropdown-item"><a href="#" id="test1">Link 5</a><i class="far fa-window-close fa-sm float-right" onclick="removeNotificationItem()"></i></li>
                                    </ul>
                                                             
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - cs3750LMS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
